# File Type Exclusions
*.prf
*.ese
*.sct
*.rwy

# Folder Exclusions
FNAN/*
Alias/*
NavData/*
ICAO/*
Sounds/*

# File Exclusions
*aeronav_copyright.txt
ASR/euroscope_sector_providers.txt
ASR/SectorFileProviderDescriptor.txt
